.card {
  display: flex;
  flex-flow: column wrap;
  height: 480px;
  border: 1px solid $color-light-gray;
  box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, .3);
  border-radius: 1rem;
  text-align: center;
  @include element('header') {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin: .5rem 1rem 0 1rem;
    border-bottom: 2px solid $color-light-gray;
  }
  @include element('footer') {
    flex: none;
    font-size: 11px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: $color-light-gray;
    padding: 1rem 0 1.1rem 0;
    @include element('items') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 18px 18px;
      grid-column-gap: 4rem;
      justify-items: left;
    }
  }
  @include element('body') {
    flex: 1;
    padding: 0 1rem;
    @include element('title') {
      border-bottom: 2px solid $color-light-gray;
      margin-bottom: 1rem;
    }
    @include element('phone') {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-size: 22px;
      font-weight: 800;
      & img {
        vertical-align: middle;
        width: 25px;
        padding-right: 0.5rem;
        padding-bottom: 0.25rem;
      }
    }
    @include element('subtitle') {
      font-style: italic;
      font-size: 12px;
      padding-bottom: 1rem;
    }
    @include element('cta') {
      padding-bottom: 2rem;
    }
  }
}
.cardIcon {
  color: $color-base-gray;
  font-size: 12px;
  padding-right: .5rem;
}
