.form-control {
  display: inline-block;
  width: 100%;
}
.form-control__field {
  width: 100%;
  padding: .75rem;
  border-radius: 0;
  border: 1px solid #ccc;
  margin: 6px 0 18px 0;
  background-color: transparent;
  font-size: 15px;
}

.form-control__label {
  display: block;
  font-weight: 600;
  font-size: 12px;
}
.form-field-indicator {
  float: right;
  width: 20px;
}
.form-field-optional {
  float: right;
  font-size: 14px;
  font-style: italic;
  color: $color-base-gray;
}
.form-control__label--radio {
  display: inline-block;
  padding: .5rem .75rem .75rem .25rem;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  padding-bottom: 2rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  // margin-top: -10px;
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  &:hover input ~ .checkbox__checkmark {
    border-color: $color-secondary
  }
  @include element('checkmark') {
    position: absolute;
    top: -3px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid $color-lighter-gray;
    border-radius: 7px;
    &::after {
      content: '';
      position: absolute;
      display: none;
    }
  }
  & input:checked ~ .checkbox__checkmark {
    background-color: $color-secondary
  }
  & input:checked ~ .checkbox__checkmark::after {
    display: block;
  }
  & .checkbox__checkmark::after {
    left: 8px;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: $color-base;
  }
}
