.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin-bottom: 3rem;
  overflow: auto;/* Enable scroll if needed */
  background-color: $color-background;
}
.modal__content {
  // margin: 5rem, .5rem;
  // height: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: $modal-background;
  box-shadow: 3px 3px 8px $color-background;
  width: 90%;
  @include respond-to('medium') {
    width: 50%;
  }
}
.modal__header {
  color: $color-base;
  background-color: $color-primary;
  padding: 25px 20px;
}
.modal__body {
  padding: 10px 20px;
}
.modal__close {
  float: right;
}
.modal__footer {
  @include clearfix;
  text-align: right;
  padding: 0 20px 20px 0;
}
.modal {
  @include element('header-extra') {
    //add padding to the top
    margin-top: $modal-from-top;
    background-color: transparent;
    @include respond-to('medium') {
      margin-top: $modal-md-from-top;
    }
  }
  @include element('footer-extra') {
    //add padding to the bottom
    margin-bottom: 20px;
    background-color: transparent;
  }
}
