.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin-bottom: 3rem;
  overflow: auto;/* Enable scroll if needed */
  background-color: $color-background;
  @include element('topMargin') {
    //add padding to the top
    margin-top: $modal-from-top;
    background-color: transparent;
    @include respond-to('medium') {
      margin-top: $modal-md-from-top;
    }
  }
  @include element('btmMargin') {
    //add padding to the bottom
    margin-bottom: 20px;
    background-color: transparent;
  }
  @include element('content') {
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: $modal-background;
    box-shadow: 3px 3px 8px $color-background;
    width: 90%;
    @include respond-to('medium') {
      width: 50%;
    }
    @include element('header') {
      color: $color-base;
      background-color: $color-primary;
      padding: 25px 20px;
    }
    @include element('body') {
      padding: 10px 20px;
      @include element('subtitle') {
        padding-bottom: 20px;
      }
    }
    @include element('footer') {
      @include clearfix;
      padding: 0 20px 20px 20px;
      @include element('send') {
        border-top: 2px solid $color-lighter-gray;
        text-align: right;
      }
    }
  }
}
.modal__close {
  float: right;
}
