.container {
  @include container-fixed;
  @include respond-to('large') {
    //mx.w prevents hoz. scrollbar @bkpt
    max-width: $lg;
  }
}

.flex {
  display: flex;
  @include modifier('lg-3') {
    width: 100%;
    display: inline-block;
    @include respond-to('small') {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    @include element('cell') {
      //nullify weird extra padding 
      padding-bottom: 0;
      @include respond-to('small') {
        padding-bottom: $grid-gutter-width/2;
        flex-basis: 49.1%;
      }
      @include respond-to('medium') {
        flex-basis: 32.5%;
      }
    }
  }
  @include modifier('column') {
    // 100% doees not seem to work for chrome or firefox
    height: 100vh;
    flex-direction: column;
    @include element('main') {
      /**
        Set `flex-shrink` to `0` to prevent some browsers from
        letting these items shrink to smaller than their content's
        default minimum size. See http://bit.ly/1Mn35US for details.
      **/
      flex: 1 0 auto;
    }
    &__notMain {
      flex: none;
    }
  }
}
