%zero {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  height: 100%;
}

section,
html,
header,
body,
footer,
ul,
ol {
  width: 100%;
  @extend %zero;
}

input[type=text],
textarea,
article,
input[type=password] {
  box-sizing : border-box;
}
textarea {
  resize: vertical;
}
input[type=radio] {
  @extend %zero;
  cursor: pointer;
}
.ss-icon {
  vertical-align: middle;
  font-size: 150%;
  padding: 0 0.2rem 0 0;
}
