%zero {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html,
body,
header,
section,
footer {
  @extend %zero;
  width: 100%;
}
ul,
ol {
  @extend %zero;
}
input[type=text],
textarea,
input[type=password] {
  box-sizing : border-box;
}
textarea {
  resize: vertical;
}
input[type=radio] {
  @extend %zero;
  cursor: pointer;
}
.ss-icon {
  vertical-align: middle;
  font-size: 150%;
  padding: 0 0.2rem 0 0;
}
hr.--style {
  border-top: 2px solid rgb(236, 236, 236);
  border-bottom: 1px solid rgb(236, 236, 236);
}
